APP_NAME="WMS MAW"
APP_ENV=production
APP_KEY=CHANGE_ME_BASE64_KEY
APP_DEBUG=false
APP_URL=http://localhost:8090
APP_PORT=8090

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=wms_maw
DB_USERNAME=sail
DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME_ROOT

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

OCTANE_SERVER=roadrunner
