APP_NAME="WMS MAW"
APP_ENV=production
APP_KEY=CHANGE_ME_BASE64_KEY
APP_DEBUG=false
APP_URL=http://localhost:8090
APP_PORT=8090

LOG_CHANNEL=daily
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=wms_maw
DB_USERNAME=sail
DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME_ROOT

FORWARD_DB_PORT=3306

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=wms-maw
REVERB_APP_KEY=CHANGE_ME_REVERB_KEY
REVERB_APP_SECRET=CHANGE_ME_REVERB_SECRET
REVERB_HOST="app"
REVERB_PORT=8080
REVERB_SCHEME=http

OCTANE_SERVER=frankenphp
